@import url(./reset.css);
@import url(./variaveis.css);
:root {
    --azul-principal: #6688ff;
    --bg-cor-primaria: #FFFFFF;
    --bg-cor-secundaria : #dedede;
    --cor-texto-primario: #404040;
    --cor-texto-secundario: #fff;
    --cinza-escuro: #666e7d;
    --cinza-claro: #dcdce3;
    --vermelho-btn: #98031e;
    --verde-btn: #2cbe82;
    --fonte-1: 'Nunito', sans-serif;
    --fonte-2: 'Poppins', sans-serif;
    --cor-dia-1: #FFA246;
    --cor-dia-2: #35E185;
    --cor-dia-3: #6688FF;
    --cor-dia-4: #66D1FF;
    --cor-dia-5: #B266FF;
    --cor-dia-6: #FF66D4;
    --cor-dia-7: #FF6666;
}/* declarado para facilitar busca OBS EXCLUIR*/

body {
    font-family: var(--fonte-2);
    background-color: var(--cinza-claro); 
    height: 100vh;
    width: 100vw;
    background-image: url(../img/bola-LogoCompasso\ 1.svg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 55rem 21rem;
}

.cabecalho-header {
    height: 5.5vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-left: 0;
    border-radius: 35px;
    background-color:var(--bg-cor-primaria);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.cabecalho-titulo {
    width: 588px;
    height: 64px;
    background-color:  var(--azul-principal) ;
    color: #FFF;
    border-radius: 0 14px 15px 0;
}

.cabecalho-tituli-h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 12px 0 2px 10px;

}

.cabecalho-titulo-p {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
}

.cabecalho-botao {
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 38px;
    color: var(--cor-texto-secundario);
    font-weight: bold;
    margin: 5px;
}

.cabecalho-botao-salvar {
    background-color: var(--verde-btn);
}

.cabecalho-botao-excluir {
    background-color: var(--vermelho-btn);
}

.cabecalho-hora {
    margin-right: 1rem;
}

.cabecalho-hora h2 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}
.cabecalho-hora p {
    font-size: 20px;
    font-weight: 400;
}

.seletor-formulario-form {
    display: flex;
    margin: 1em;
    justify-content: center;
    
}

.seletor-atividade {
    padding-right: 220px;
    padding-left: 60px;
    margin: 0 1rem;
}

.seletor-dia {
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 1rem;
}

.seletor-hora {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 1rem;
}

.seletor-atividade, .seletor-dia, .seletor-hora {
    background-color: var(--bg-cor-primaria);
    border: .1rem solid var(--verde-btn);
    border-radius: 10px;
}

.seletor-btn {
    margin: 0 1rem;
}

.card-dias-hora {
    display: flex;
    height: 7vh;
    width: auto;
}

.agenda-card-hora {
    background-color: var(--bg-cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
}

.agenda-hora {
    margin-left: 1rem;
    padding: 2px 5px;
    border-radius: 10px;
}

.linha-card-dia {
    width: 86vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 2rem;
}

.agenda-card-dia {
    padding: 8px 18px;
    border-radius: 15px 15px 0 0;
    color: var(--cor-texto-secundario);
    display: flex;
    font-weight: 500;
}
.agenda-card-dia-1 {
    background-color: var(--cor-dia-1);
}

.agenda-card-dia-2 {
    background-color: var(--cor-dia-2);
}

.agenda-card-dia-3 {
    background-color:var(--cor-dia-3);
}

.agenda-card-dia-4 {
    background-color: var(--cor-dia-4);
}

.agenda-card-dia-5 {
    background-color: var(--cor-dia-5);
}

.agenda-card-dia-6 {
    background-color: var(--cor-dia-6);
}

.agenda-card-dia-7 {
    background-color: var(--cor-dia-7);
}

.tela-atividades {
    display: flex;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: column;
}

.container-tela {
    display: flex;
    width: 70vw;
    max-width: 70vw;
    height: 70vh;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}

.tela-atividades, .tela-hora {
    margin: 1rem;
}

.cardshorap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6687ff3a;
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 1rem 1rem 0 0;
    border-radius: 10px;
}

.cardsatividadep {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 64px;
    width: 400px;
    padding: 0 0 0 1rem;
    background-color: #ececec;
    border-radius: 10px;
    border-left: 10px solid #558ABB;
    margin: 1rem 1rem 0 0;
}
